@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }
html { overflow-x: hidden;}
img{user-select: none;}
body { overflow-x: hidden; position: relative;font-family: 'Montserrat', sans-serif;height: 100vh;}
a{display: inline-block;}